/* ------------------------------- global ------------------------------- */

/* -------------------- body -------------------- */

.global__body{
	margin: 0px;
	padding: 0px;
	
	display: grid;
	grid-template-areas: 'header header header'
						 'none1  main   none2'
						 'footer footer footer';
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: auto 1fr auto;

	min-height: 100vh;

	font-family: Arial;
	
	background-color: #c4c4c4;
	background-image: url(../img/fon2.jpeg);
}

/* -------------------- header -------------------- */

.global__header{
	grid-area: header;

	display: grid;
	grid-template-areas: 'none3 logo nav none4';
	grid-template-columns: 1fr 1fr 2fr 1fr;
	grid-template-rows: auto;

	text-align: center;
	position: sticky;
	top: 0px;

	background: #BEF574;
	border-bottom: 1px solid #2c2c2c;
}
.global__header-logo{
	grid-area: logo;

	margin: 0px;

	text-decoration: none;
	font-family: Consolas;
	font-size: 1.7em;
	font-style: italic;

	color: #000000;
}

/* -------------------- nav in header -------------------- */

.global__nav{
	grid-area: nav;
}
.global__nav-list{
	display: flex;

	height: auto;
	margin: 0;
	padding-left: 0;

	list-style: none;
}
.global__nav-list-item{
	border-left: 1px solid #b2b2b2;
}
.global__nav-list-item:last-child{
	border-right: 1px solid #b2b2b2;
}
.global__nav-list-item a{
	display: block;

	padding: 0.5em 1em;

	text-decoration: none;

	color: #000000;
}
.global__nav-list-item a:hover{
	background-color: rgba(0,0,0,0.2);
}

/* -------------------- main -------------------- */

.global__main{
	grid-area: main;

	padding: 0px 15px;

	background-color: #b3d7d7;
	border-left: 1px solid #2d2d2d;
	border-right: 1px solid #2d2d2d;
}

.global__main h2{
	font-family: Consolas;
	font-style: italic;
	text-indent: 1em;
}

/* -------------------- sections in main -------------------- */

.global__main-section{
	margin-bottom: 15px;

	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;

	border: 1px solid #2c2c2c;
	background-color: #e9ecbf;
}
.global__main-section-color{
	background-color: #b8d68f;
}

/*
.global__main-section-content{
	border: 1px solid #2c2c2c;
}
*/

/* -------------------- section header -------------------- */

.global__main-section-header{
	display: grid;
	grid-template-areas: "sect_head_title sect_head_time";
	grid-template-columns: 4fr 2fr;
	grid-template-rows: auto;

	border-bottom: 1px dashed #2d2d2d;
}
.global__main-section-header-title{
	grid-area: sect_head_title;

	margin: 5px 20px;

	font-size: 1.15em;
}
.global__main-section-header-time{
	grid-area: sect_head_time;

	margin: 5px 25px 5px 0px;

	font-size: 1em;
	text-align: right;

	color: #696969;
}

/* -------------------- section content -------------------- */

.global__main-section-content{
	padding: 10px 0px;
}
.global__main-section-content p,
.global__main-section-content h4{
	margin: 10px 20px;
	padding: 0px;
}

/*
.global__main-section-content ul{
	margin: 10px 0px;
	padding-left: 50px;
}
.global__main-section img{
	width: 300px;
	height: 300px;

	margin-right: 10px;
	margin-bottom: 10px;

	border: 1px solid #000000;
}
*/

/* -------------------- footer -------------------- */

.global__footer{
	grid-area: footer;

	text-align: center;
	font-family: Consolas;
	font-style: italic;

	background: #BEF574;
	border-top: 1px solid #2c2c2c;
}