/* ------------------------------- admin-statictic ------------------------------- */

/* -------------------- main -------------------- */

.admin-statictic__main{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

/* -------------------- sections -------------------- */

.admin-statistic__section{
	display: inline-block;

	margin: 10px;

	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;

	border: 1px solid #2c2c2c;
	background-color: #e9ecbf;
}
.admin-statistic__section-full{
	width: calc(100% - 22px);
}
.admin-statistic__section-half{
	width: calc(100% / 3 - 25px);
}

/* -------------------- section header -------------------- */

.admin-statistic__section-header{
	display: grid;

	border-top-right-radius: 2em;

	border-bottom: 1px dashed #2d2d2d;
	background-color: #b8d68f;
}
.admin-statistic__section-header-title{
	margin: 5px 20px;

	font-size: 1.15em;
}

/* -------------------- charts -------------------- */

#marksPieChart{
	width: 100%;
}
#visitsPieChart{
	width: 100%;
}
#statusesPieChart{
	width: 100%;
}
#visitsLineChart{
	width: 100%;
}
#marksLineChart{
	width: 100%;
}
