/* ------------------------------- news ------------------------------- */

/* -------------------- sections -------------------- */

.news__section{
	margin-bottom: 15px;

	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;

	border: 1px solid #2c2c2c;
	background-color: #e9ecbf;
}
.news__section-color{
	background-color: #b8d68f;
}

/* -------------------- section header -------------------- */

.news__section-header{
	display: grid;
	grid-template-areas: "sect_head_title sect_head_time";
	grid-template-columns: 4fr 2fr;
	grid-template-rows: auto;

	border-top-right-radius: 2em;
	border-bottom: 1px dashed #2d2d2d;

	background-color: #b8d68f;
}
.news__section-header-title{
	grid-area: sect_head_title;

	margin: 5px 20px;

	font-size: 1.15em;
}
.news__section-header-time{
	grid-area: sect_head_time;

	margin: 5px 25px 5px 0px;

	font-size: 1em;
	text-align: right;

	color: #696969;
}

/* -------------------- section content -------------------- */

.news__section-content{
	padding: 10px 0px;
}
.news__section-content p,
.news__section-content h4{
	margin: 10px 20px;
	padding: 0px;
}
